<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <h1>Lista de Usuarios</h1>
        <ul>
            <% for (let i=0; i< users.length ; i++) { %>
                <li>
                    <a href="/users/detail/<%= users[i].id%>">
                        <%=users[i].name%>
                    </a>
                    <form method="post" action="delete/<%=users[i].id%>?_method=DELETE">
                        <button type="submit">Delete</button>
                    </form>
                    <form method="get" action="edit/<%=users[i].id%>?_method=put">
                        <button type="submit">Editar</button>
                    </form>
                </li>

                <% } %>
        </ul>
        <h2>Search</h2>
        <form action="/users/search" method="get">
            <input type="text" name="search">
            <input type="submit" value="Search">

</body>

</html>